<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header-head">
        <h1>
          Задачи IT-дирекции на {{ date }}
        </h1>
        <div class="header-span">
          <span>Завершенные задачи с {{ date1 }} по {{ date2 }}</span>
        </div>
        </div>
    </div>
  </header>
  <section>
    <div class="container">
     {% block content %}
     {% endblock %}
    </div>
  </section>
</body>
</html>